<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Montserrat:ital@1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="css/style.css">
  <script src='https://unpkg.com/vue@3'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.0/luxon.min.js" integrity="sha512-79nhbkASdW5wurW8DtF9Vd7BEDKdTbCKkh87lW6W3tk9T4L9Bc58MzmvRzjMcFCSKpjkoRjwzrTdfOa5lkfJ5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <title>Boolzapp</title>
</head>
<body>
<div id="app">

<div class="all">
  <div class="whats-head debug">
    <!-- ---------------- -->
    <div class="head">
      <div class="h-user">
        <div class="info-user">
          <img src="img/avatar_io.jpg" alt="">
          <h3 class="u-name">Sofia</h3>
       </div>
    <!-- ---------------- -->
        <div class="cont-i-user">
          <i class="fa-solid fa-circle-notch"></i>
          <i class="fa-solid fa-message"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
    <!-- ---------------- -->
      <div class="h-friend ">
        <div class="info-friend-active">
            <div class="img-friend-active">
              <img :src="fotoStart + contacts[counter].avatar + fotoEnd" alt="">
            </div>
            <div  class="name-date-friend-active">
              <h3 class="f-name">{{contacts[counter].name}}</h3>
              <p>Ultimo messaggio </p>
            </div>
    <!-- ---------------- -->
            <div class="cont-i-friend-active">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
    <!-- ---------------- -->
          </div>
      </div>
    </div>
    <!-- ------------ -->  
  </div>
    <div class="cont-whats-body">
      <div class="whats-body-left debug">
        <div class="on-noti">
          <div class="bell-cont">
            <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="info-bell">
              <h3>Ricevi notifiche di nuovi messaggi</h3>
              <p>Attiva notifiche dekstop</p>
            </div>
        </div>
    <!-- ------------ -->
        <div class="text-left">
           <input class="nosubmit" placeholder="Cerca o inizia una nuova chat" type="text" v-model="search">
        </div>
    <!-- ------------ lista amici -->
        <div class="cont-list-friends">
         <ul class="list-friends">
            <li  v-for="(contact,index) in contacts"
            @click="counter = index"
            v-show="contact.name.toLowerCase().includes(search.toLowerCase())"
            class="friend">
              <div class="desc-pic">
                <img :src="fotoStart + contact.avatar + fotoEnd" alt=""> 
                <div class="descr">
                  <h3>{{contact.name}}</h3>
                  <p>{{contact.messages[contact.messages.length -1].message}} </p>
                </div>
              </div>
              <div class="data">
                <p>{{contact.messages[contact.messages.length -1].date}}</p>
              </div>
            </li>
          </ul> 
       </div>
       </div>

        <!----------------------------->

    <div class="whats-body-right debug">
      <div  class="message">

        <div v-for="(message,index) in contacts[counter].messages"
         :class="{'cloud-green': message.status === 'sent', 'cloud-white' : message.status ==='received'}">
         {{message.message}} 
         <p>{{message.date}}</p>
         </div>  
      </div>
        <!-- ------------------------- -->
      <div class="send">
        <i class="fa-regular fa-face-smile"></i> 
          <input type="text" placeholder="Scrivi un messaggio" v-model="myMessage" @keyup.enter="createMessage(index)" >
          <i class="fa-solid fa-microphone"></i>
      </div>
   </div>

 <!-- ------------------------- -->

</div>
</div>
</div>
  <script src="js/script.js"></script>
</body>
</html>